<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Form of register of News</title>
		</head>
	<body>

		<h1>Add News</h1>

		<form action="/noticias/salvar" method="POST">
			<label>Título</label>
			<input type="text" id="titulo" name="titulo" placeholder="Título da notícia" />
			<br />
			<label>Notícia</label>
			<textarea id="noticia" name="noticia" rows="5" cols="30"></textarea>
			<br />
			<input type="submit" value="Enviar" />
		</form>

	</body>
</html>