<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>News portal</title>
		</head>
	<body>

		<h1>Welcome to the initial page!</h1>
		<table>
			<td></td>
			<td></td>	
			<td></td>
			
			<% for(var i=0; i < content.length; i++) { %>
			<tr>	
				<td> <%= content[i].id_noticia %> </td>
				<td> <%= content[i].titulo %> </td>
				<td> <%= content[i].noticia %> </td>
			</tr>
			<% } %>
		</table>
	</body>
</html>