<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>News portal</title>
		</head>
	<body>

		<h1>Notice</h1>

		<table>
			<tr>
				<td>ID</td>
				<td>Title</td>
				<td>Notice</td>
			</tr>
			<tr>
				<td><%= notice[0].id_noticia %></td>
				<td><%= notice[0].titulo %></td>
				<td><%= notice[0].noticia %></td>
			</tr>
		</table>
	</body>
</html>